<h1>Manage Users</h1>
<ul>
<% @users.each do |u| %>
    <li>
        <%= u.name %> | <%= link_to "Soft Delete", user_soft_delete_path(u.id), method: :delete, data: { confirm: "This wil remove the User with removing any records. Are you Sure?" } %> | | <%= link_to "Hard Delete", user_hard_delete_path(u.id), method: :delete, data: { confirm: "This wil remove the User and any records. Are you Sure?" } %>
    </li>
<% end %>
</ul>