<div class='records'>
  <h1>Records</h1>

  <div class='records-table'>
    <table>
      <thead>
        <tr>
          <th>Archer</th>
          <th>Score</th>
          <th>Round</th>
          <th>Bowstyle</th>
          <th>Year</th>
          <th>Location</th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'recorddispaly', collection: @records, as: :record%>
    </table>
  </div>

  <br>

  <% if user_signed_in? %>
    <%= render 'form' %>
  <% end %>
</div>