<div class='container about-us'>
  <h1>About Us</h1>

  <%= render partial: 'page_contents/contenteditable', locals: {page: 'about us' } %>

  <div>
    <h2>Current Committee
      <% if admin_user? %>
        <%= link_to '➕ Add Member', new_committee_path, style:'float:right;font-size:0.7em;font-weight:normal;' %>
      <% end %>
    </h2>
  </div>
  <div class='committee-members'>
    <%= render partial: 'memberpannel', collection: @committees, as: :committee %>
  </div>
  <h2>How to Find Us</h2>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2287.945043446461!2d-1.5741237481303776!3d55.00912838026472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487e71085baa4c25%3A0xa3c7d5f5d0762d!2sLongbenton%20Sports%20Ground!5e0!3m2!1sen!2suk!4v1595703598172!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  <div class='address'>
    <h3>Address<h3>
    <address>
    Longbenton Sport Ground<br/>
    Newcastle-Upon-Tyne<br/>
    NE12 8AD<br/>
    </address>
    Email: <%= mail_to 'archery@newcastle.ac.uk'%>
  </div>
</div>