<%= render partial: 'page_contents/contenteditable', locals: { page: 'home' } %>
  <h1 style='display:inline-block'>News Feed</h1>
  <% if committee_user? %>
    <%= link_to '🖋 Create New', new_post_path, method: :get, class:'link-button news-new-button' %>
  <%end%>

  <% unless @posts.empty? %>
    <%= render collection: @posts, as: :post, partial: 'postIndex'%>
  <% end %>