/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --accent-colour: #003c72;
}

* {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    transition: all 0.5s;
}

html {
    min-width: 320px;
}

body{
    margin: 0;
    padding: 0;
}

#content-flex {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

#notifications {
    position: fixed;
    z-index: 99;
    top: -14px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.notice {
    background-color: aquamarine;
    width: 100vw;
    height: 1.4em;
    color: black;
}

.alert {
    background-color: maroon;
    width: 100vw;
    height: 1.4em;
    color: white;
}

.field_with_errors{
    background-color: pink;
    display: inline-grid;
    width: 100%;
    text-align: center;

    
}

.field_with_errors input {
    margin: auto !important;
}

hr{
    background-color: var(--accent-colour);
    height: 0.25em;
    border: none;
    border-radius: 0.2em;
}

pre {
    font-size: 1em;
    background-color: transparent;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

 .container {
        width: 80%;
        margin: 0 auto;
 }

.button {
    border-radius: 0.6em;
    text-decoration: none;
    border: 2px solid black;
    padding: 1em;
}

.button:hover {
    background-color: black;
    color: white;
}

.button-blue {
    background-color: var(--accent-colour);
    border-color: var(--accent-colour);
    color: white;
}

.button-blue:hover {
    background-color: white;
    color: var(--accent-colour);
}

.link-button, .link-button:visited{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.link-button:hover{
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

.navbar {
    max-width: 90vw;
    margin: 0 auto;
    padding: 0;
}

 .navbar ul {
     list-style: none;
     margin: 0;
     padding: 0;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center;
 }

 .navbar img {
    height: 14em;
 }

.navbar li {
    width: 15em;
}

.navbar a, #mobile-nav-content a {
    text-decoration: none;
    padding: 20px 5px;
    display: inline-block;
    font-size: 1.5em;
    width: 9.5em;
    text-align: center;
    border-radius: 0.5em;
    color: black;
 }

 .navbar a:hover, #mobile-nav-content a:hover {
     background-color: var(--accent-colour);
     color: white;
 }

 .navbar ul li:first-child{
     z-index: 1;
 }

.navbar ul li:first-child a:hover, #mobile-nav-content ul li:first-child a:hover {
    background-color: transparent;
}

.loginbuttons {
    position: absolute;
    width: auto;
    margin: 3em;
    right: 0;
}

footer {
    height: 50px;
    margin-top: auto;
}

footer p{
    padding: 0 3em;
}

.mobile-nav{
    display: none;
}

@media (max-width: 1024px) {
    #content-flex {
        padding-top: 3em;
    }

    .navbar img {
        height: 7em;
    }
}

@media (max-width: 666px) {
    #content-flex {
        padding-top: 6em;
    }

    .navbar {
        display: none;
    }

    .mobile-nav{
        display: block;
        position: absolute;
        top: 3em;
        left: 3em;
    }

    #mobile-nav-button {
        z-index: 50;
        width: 50px;
        height: 6px;
        background-color: var(--accent-colour);
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }

    #mobile-nav-button::before, #mobile-nav-button::after {
        content: ' ';
        position: absolute;
        width: 50px;
        height: 6px;
        background-color: var(--accent-colour);
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }

    #mobile-nav-button::before {
        transform: translateY(-16px);
    }

    #mobile-nav-button::after {
        transform: translateY(16px);
    }

    #mobile-nav-button.open::before {
        transform: rotate(45deg);
    }

    #mobile-nav-button.open::after {
        transform: rotate(-45deg);
    }

    #mobile-nav-button.open {
        background-color: transparent;
    }

    #mobile-nav-content {
        z-index: 51;
        position: absolute;

        border: 3px solid var(--accent-colour);
        border-radius: 2em;
        padding: 2em;
        background-color: white;

        top: 8em;

        width: 30em;
    }

    #mobile-nav-content ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #mobile-nav-content img {
        width: 9.5em;
    }
}