/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --accent-colour: #003c72;
}

* {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    transition: all 0.5s;
}

hr{
    background-color: var(--accent-colour);
    height: 0.25em;
    border: none;
    border-radius: 0.2em;
}

pre {
    font-size: 1em;
    background-color: transparent;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

 .container {
        width: 80%;
        margin: auto;
 }

.button {
    border-radius: 0.6em;
    text-decoration: none;
    border: 2px solid black;
    padding: 1em;
}

.button:hover {
    background-color: black;
    color: white;
}

.button-blue {
    background-color: var(--accent-colour);
    border-color: var(--accent-colour);
    color: white;
}

.button-blue:hover {
    background-color: white;
    color: black;
}

.link-button, .link-button:visited{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.link-button:hover{
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

 .navbar ul {
     list-style: none;
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .navbar img {
    height: 14em;
 }

.navbar li {
    width: 15em;
}

.navbar a {
    text-decoration: none;
    padding: 20px 5px;
    display: inline-block;
    font-size: 1.5em;
    width: 9.5em;
    text-align: center;
    border-radius: 0.5em;
    color: black;
 }

 .navbar a:hover {
     background-color: var(--accent-colour);
     color: white;
 }

 .navbar ul li:first-child{
     z-index: 1;
 }

.navbar ul li:first-child a:hover{
    background-color: transparent;
}