// Place all the styles related to the ContactUs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.contact-us {
    text-align: center;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form [type=submit]  {
    background-color: var(--accent-colour);
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 0px 6px -2px rgba(89,86,89,0.68);
    border-radius: 1em;
    margin: 5px 20px 40px 20px;
    transition: all 0.5s ease-in-out;
    border: 2px solid var(--accent-colour);
  }

  .contact-form [type=submit]:hover {
      background-color: white;
      color: var(--accent-colour);
  }

  .contact-form input[type=email], .contact-form input[type=password], .contact-form input[type=text], .contact-form textarea {
    background-color: #f6f6f6;
    border: none;
    color: var(--accent-colour);
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 25em;
    border: 2px solid var(--accent-colour);
    border-radius: 1em;
    outline: none;
  }

  .contact-form textarea {
      width: calc(50em + 10px);
      height: 13em;
      resize: none;
  }

  .contact-form input[type=email]:focus, .contact-form input[type=password]:focus, .contact-form input[type=text]:focus {
    box-shadow: 0px 0px 8px -2px rgba(89,86,89, 1);
  }

  .nameemaildiv {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }