// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.timeline {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 5em;
    margin-right: 4em;
}

.timeline::before {
    content: ' ';
    position: absolute;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    border: 0.6em solid var(--accent-colour);
    background-color: var(--accent-colour);
    left: 2.68em;
    top: -3.1em;
}

.timeline::after{
    content: ' ';
    position: absolute;
    width: 0.6em;
    background-color: var(--accent-colour);
    top: 0;
    bottom: 0;
    left: 4em;
}

.timeline-container {
    padding: 10px 40px;
    position: relative;
    border: 3px solid var(--accent-colour);
    border-radius: 2em;
    left: 8em;
    margin: 2em 0;
}

.timeline-container::after {
    content: '';
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    background-color: var(--accent-colour);
    border: 0.2em solid var(--accent-colour);
    border-radius: 1em;
    top: 1.3em;
    left: -4.9em;
}

.timeline-container::before {
    content: '';
    position: absolute;
    width: 4em;
    height: 0.5em;
    background-color: var(--accent-colour);
    top: 2em;
    left: -4em;
}

.response-buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.event_response {
    text-align: center;
    text-decoration: none;
    border: 0.2em solid var(--accent-colour);
    position: relative;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.3em;
    min-width: 100px;
}

.event_response:hover {
    background-color: var(--accent-colour);
    color: white;
}

.event_response:hover:after{
    content: ' ✔️';
}

.event_response_selected {
    background-color: var(--accent-colour);
    color: white;
}

.event_response_selected:hover {
    background-color: transparent;
    text-decoration: line-through;
    color: black;
}

.event_response_selected:hover:after {
    content: '';
}

.event-control-buttons {
    text-align: right;

    * {
        text-decoration: none;
        color: var(--accent-colour);
        font-size: 1.5em;
    }
}

.response-buttons button {
    border: 0.2em solid var(--accent-colour);
    border-radius: 0.5em;
    background-color: var(--accent-colour);
    color: white;
    padding: 0.5em;
    margin: 0.3em;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .model-section {
      display: flex;
      align-content: center;
      justify-content: space-around;
  }

  .model-section ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  .event-back {
    text-decoration: none;
    color: var(--accent-colour);
    font-size: 1.5em;
  }

  .form-dateselector {
    border: 0.15em solid var(--accent-colour);
    border-radius: 1em;
    padding: 1em;
    background-color: #f6f6f6;
  }

  @media (max-width: 1024px) {
      .timeline {
          margin-right: 5em;
      }
  }

  @media (max-width: 666px) {
      .event_title, .event_date {
          width: 100%;
      }

      #event_title {
          width: 100%;
      }
  }