// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.news-new-button {
    display: inline;
    margin-left: 4em;
}

.news-feed-article
{
    width: 95%;
    margin: auto;
    min-height: 10em;
    display: flex;
    flex-direction: column;
    padding:1em;
}

.news-feed-article-body
{
    align-self: center;
    width: 90%;
    max-height: 17em;
    overflow: hidden;
    padding-bottom: 0.5em;
}

.news-feed-article-buttons
{
    text-align: end;
    font-size: 1.3em;
}

.news-feed-article-buttons a {
    padding-left: 1em;
    color: var(--accent-colour);
}

.post-form {
    text-align: center;
}

.post-form .radio-buttons .radio_buttons, .post-form .radio-buttons .radio {
    display: inline-block;
}

.form-inputs .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-form input[type=text], .post-form textarea {
    background-color: #f6f6f6;
    border: none;
    color: var(--accent-colour);
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 25em;
    border: 2px solid var(--accent-colour);
    border-radius: 1em;
    outline: none;
  }

  .post-form textarea {
      width: 100%;
      height: 13em;
      resize: none;
  }

  .post-form input[type=text]:focus, .post-form textarea {
    box-shadow: 0px 0px 8px -2px rgba(89,86,89, 1);
  }

  .post-form [type=submit]  {
    background-color: var(--accent-colour);
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 0px 6px -2px rgba(89,86,89,0.68);
    border-radius: 1em;
    margin: 5px 20px 40px 20px;
    transition: all 0.5s ease-in-out;
    border: 2px solid var(--accent-colour);
  }

  .post-form [type=submit]:hover {
      background-color: white;
      color: var(--accent-colour);
  }

  .records-table {
    display: flex;
    justify-content: center;
}

.post-display tr:nth-child(even) {
    background-color: #f2f2f2;
}

.post-display tr:hover {
    background-color: #e6e6e6;
}

.post-display thead {
    background-color: var(--accent-colour);
}

.post-display thead tr:hover {
    background-color: transparent;
}

.post-table table, .records-table th, .records-table td {
    padding: 15px;
    text-align: center;
    border-collapse: collapse;
    border: 0.2em solid var(--accent-colour);
}

.post-display th {
    color: white;
}

.post-display img {
    max-width: 100%;
}

@media (max-width: 666px) {
    .form-header{
        flex-direction: column;
    }

    #post_title, .post_title{
        width: 100%;
    }
}