// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.news-new-button {
    display: inline;
    margin-left: 4em;
}

.news-feed-article
{
    width: 95%;
    margin: auto;
    min-height: 10em;
    display: flex;
    flex-direction: column;
    padding:1em;
}

.news-feed-article-body
{
    align-self: center;
    width: 90%;
    max-height: 17em;
    overflow: hidden;
    padding-bottom: 0.5em;
}

.news-feed-article-buttons
{
    text-align: end;
    font-size: 1.3em;
}

.news-feed-article-buttons a {
    padding-left: 1em;
    color: var(--accent-colour);
}