// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.records {
    text-align: center;
}

.records-table {
    display: flex;
    justify-content: center;
}

.records-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.records-table tr:hover {
    background-color: #686565;
}

.records-table thead tr:hover {
    background-color: transparent;
}

.records-table table, .records-table th, .records-table td {
    padding: 15px;
    text-align: left;
    border-collapse: collapse;
  border: 1px solid black;
}