/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// .form-required { display: none; }
.records-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.records-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.records-table tr:hover {
    background-color: #e6e6e6;
}

.records-table thead {
    background-color: var(--accent-colour);
}

.records-table thead tr:hover {
    background-color: transparent;
}

.records-table table, .records-table th, .records-table td {
    padding: 15px;
    text-align: center;
    border-collapse: collapse;
    border: 0.2em solid var(--accent-colour);
}

.records-table th {
    color: white;
}

.search-form .form-inputs, .new-form .form-inputs {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.search-form .form-actions, .new-form .form-inputs {
    text-align: center;
}

.search-form .input {
    display: inline-block;
}

.search-form label, .new-form label {
    font-weight: bold;
    color: var(--accent-colour);
}

.search-form input, .search-form select, .new-form input, .new-form select{
    border: 4px solid var(--accent-colour);
    border-radius: 0.5em;
}

.search-form .form-inputs input, .search-form .form-inputs select, .new-form .form-inputs input, .new-form .form-inputs select {
    height: 40px;
    width: 12em;
    margin-bottom: 10px;
}

.search-form .form-actions, .new-form .form-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.search-form .form-actions *:not([type=checkbox]), .new-form .form-actions {
    margin: 0 1em;
}

.search-form .form-actions input[type=submit], .new-form .form-actions input[type=submit] {
    background-color: var(--accent-colour);
    padding: 0.9em 1.5em;
    color: white;
    font-weight: bold;
}

.search-form .form-actions input[type=submit]:hover, .new-form .form-actions input[type=submit]:hover {
    background-color: white;
    color: var(--accent-colour);
}

@media(max-width: 666px) {
    .records-table-scores{
        table {
            width: 100%;
            padding: 0;
        }

        table, thead, tbody, th, td, tr { 
            display: block; 
        }

        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr { border: 1px solid var(--accent-colour); }

        td { 
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            text-align: center;
        }

        td:before { 
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 50%; 
            padding-right: 10px; 
            white-space: nowrap;
        }

        /*
        Label the data
        */
        td:nth-of-type(1):before { content: "Name"; }
        td:nth-of-type(2):before { content: "Score"; }
        td:nth-of-type(3):before { content: "Round"; }
        td:nth-of-type(4):before { content: "Bowstyle"; }
        td:nth-of-type(5):before { content: "Date"; }
        td:nth-of-type(6):before { content: "Academic Year"; }
        td:nth-of-type(7):before { content: "Gender"; }
    }
}