<footer id='footer'>
    <hr />
    <p>Max Rose © 2020 | V4.1.5<%if admin_user? || current_user&.committee? %> | <%= link_to "#{admin_user? ? "Admin" : "Committee"} Panel", admin_pannel_index_path %> <% end %></p>
</footer>